@page
@model SampleText_Restaurant_Review.Pages.AuditLogs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].ReviewID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].AuditActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].DateTimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AuditRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditActionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStamp)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Audit_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Audit_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
